*{
	margin:0px;
	padding:0px;
}
#banner {
	background-color: #09F;
	background-image:url(../img/banner.png);
	background-repeat:no-repeat;
	
	height: 136px;
	width: 100%;
}
#menu {
	background-color: #F90;
	height: 40px;
	width: 100%;
}
#content {
	/*background-color: #CCC;*/
	margin-top:10px;
	height: auto;
	width: 100%;
}
#footer {
	background-color: #999;
	height: 150px;
	width: 100%;	
}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#menu ul li{
	list-style-type:none;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-top:9px;
	height:31px;
}
#menu ul li:hover{
	background-color:#00F;
	color:#FFF;
	font-size:16px;
	text-decoration:underline;
	
}
div#content-left{
	/*background-color:#CC0;
*/	width:70%;
	height:auto;
	float:left;
}
div#content-right{
	background-color:#FFC;
	width:29%;
	float:right;
}
div.box{
	width:auto;
	height:auto;
	border:2px solid #F0F0F0 ;
	padding:5px;
	
}
div.box-left,div.box-right{
	width:49.5%;
	height:auto;
	float:left;
	background-color:#9F3;
}
div.box-right{
	float:right;
	background-color:#FFF;
	width:45%;
	padding:5px;
	height:auto;
	
}
div.box-right ul{
	height:auto;
	margin-left:20px;
}
div.box-left{
	background-color:#FFF;
}
div.box-left img{
	width:100%; 
}
p.tieudetin{
	color:#00F;
	font-size:18px;
	font-weight:bold;	
}
p.tomtattin{
	text-indent:20px;
}
div.xoa{
	clear:both;
}
div.box-tin{
	border-bottom:1px dotted #E8E8E8;	
	padding-top:5px;
	padding-bottom:5px;
	margin-left:2px;
	padding-left:2px;
}
div.box-tin img{
	width:100px;
	float:left;
	margin-right:10px;
}
div.tieudebox{
	background-image:url(../img/tieude.png);
	height:21px;
	background-repeat:no-repeat;
	border-bottom:2px solid #F60;
	margin-bottom:5px;
	padding-top:4px;
	padding-left:10px;
	color:#FFF;
}
div.no-padding{
	padding:0px;
}
div.no-border{
	border:none;
}
#menu ul li a{
	text-decoration:none;
	color:#000;
}
#menu ul li a:hover{
	text-decoration:none;
	color:#F30;
}
p.tieudetin a{
	text-decoration:none;
	color:#00F;
}
p.tieudetin a:hover{
	color:#F30;
}

#fdfdsfds{
	
}









